.projects {
    margin-top: 90px;
    margin-bottom: 100px;
    position: relative;
    overflow: initial;

    .section-highlight {
        margin-bottom: 10px;
    }

    .header {
        font-size: 3.3em;
        font-weight: 600;
    }

    .toggle {
        margin: auto;
        margin-top: 20px;
        font-size: 1.4em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 500;
        gap: 40px;
        border: 3px solid #4d4d4d;
        width: 60%;
        padding: 10px 30px;
        border-radius: 10px;
        position: relative;

        &>* {
            cursor: pointer;
        }

        &::before {
            content: '';
            position: absolute;
            height: 90%;
            width: 40%;
            background-color: #1d64c0;
            border-radius: 5px;
            z-index: -1;
            transition: 0.3s ease;
            transform: translateX(-74%);
        }

        &.dev::before {
            transform: translateX(40%);
            width: 55%;
        }
    }

    .wrapper {
        margin-top: 20px;
        overflow: hidden;
    }

    .designs,
    .sites {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 1px;
    }

    .design,
    .site {
        width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 60px;
        border-bottom: 2px solid #3b3b3b;

        .header-img {
            width: 100%;
            border-radius: 15px;
            border: 1px solid #3b3b3b;
            position: relative;
            cursor: pointer;

            &:hover {
                .overlay {
                    opacity: 1;
                }
            }

            &>img {
                border-radius: 15px;
                width: 100%;
            }
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            flex-wrap: wrap;

            h2 {
                font-weight: 500;
                margin: 0;
            }

            .tags {
                opacity: 0.5;
            }
        }

        .btns {
            display: flex;
            gap: 20px;

            .btn-blue {
                transform: none;
            }

            &>* {
                width: 100%;

                img {
                    width: 25px;
                }
            }

            .link {
                &:hover img {
                    filter: brightness(0);
                }
            }
        }

        &:last-child {
            padding-bottom: 0;
            border: none;
        }
    }

    .design {
        .btn-blue {
            margin: auto;

            img {
                margin-right: 4px;
            }
        }

        .overlay {
            position: absolute;
            transition: 0.3s ease;
            opacity: 0;
            inset: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            background-color: rgba($color: #000000, $alpha: 0.8);
            border-radius: 15px;
            backdrop-filter: blur(10px);


            a {
                text-decoration: none;
                color: white;

                &:hover {
                    text-decoration: underline;
                }

            }

            img {
                width: 30px;
                margin-left: 10px;
            }
        }
    }

    .site {
        width: 700px;

        .langs {
            display: flex;
            gap: 15px;

            &>* {
                width: 100%;
                padding: 10px;
                border: 2px solid white;
                border-radius: 100px;
            }
        }

        .btn-fill {
            img {
                filter: brightness(0);
            }

            &:hover img {
                filter: brightness(0);
            }
        }
    }
}

.fadeIn {
    animation: fadeIn 0.5s linear;
}

.fadeOut {
    animation: fadeOut 0.5s linear;
}

@keyframes fadeIn {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}