.hero {
    position: relative;

    .text {
        margin-top: 80px;
        overflow: hidden;
        padding-bottom: 100px;

        h1 {
            font-weight: 600;
            font-size: 4em;
            letter-spacing: -1px;
            line-height: 1em;
        }

        .btns {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            gap: 20px;

            .btn {
                border-radius: 10px;
            }
        }
    }
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        transform: translate(-50%, 20px);

        & img {
            filter: brightness(1);
        }
    }

    img {
        width: 20px;
        filter: brightness(0.7);
        transition: 0.3s ease;
    }
}

.hero-wrapper {
    position: relative;
}

.moon {
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: -2;
    top: -30px;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: -1;
    background-image: url(/Effects/stars.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% 150%;
    animation: bg-pan 50s linear infinite;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
    filter: brightness(1.2);
}

@keyframes bg-pan {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}