.about {
    margin: 320px auto;
    margin-bottom: 100px;
    position: relative;
    overflow: visible;

    .intro a {
        color: white;
        text-decoration: none;
    }

    .highlight {
        position: absolute;
        width: 95px;
        right: 30%;
        bottom: -3px;
    }

}

.glow1,
.glow2 {
    position: absolute;
    top: 0;
    height: 700px;
}

.glow1 {
    left: 0;
    top: -250px;
}

.glow2 {
    right: 0;
}

.info-wrapper {
    position: relative;

    .glow1, .glow2 {
        top: 0;
    }
}

.info {
    margin: 120px auto;
    position: relative;
    padding-bottom: 45px;

    .section-highlight {
        margin-bottom: 10px;
    }

    .header {
        font-size: 3.3em;
        font-weight: 600;
    }

    .doodle {
        width: 50px;
        position: absolute;
        right: 5%;
        bottom: 0;
        z-index: -1;
    }

    .btn {
        box-shadow: 0px 0px 40px rgba($color: #418CFB, $alpha: 0.3);
    }

    .row {
        justify-content: center;
        align-items: center;
        gap: 20px;

        .text {
            text-align: left;
            padding-bottom: 40px;
            padding-left: 40px;
            padding-right: 40px;
            line-height: 1.7;

            b {
                font-weight: 600;
            }

            p {
                margin-top: 15px;

            }
        }
    }
}