
nav {
    position: sticky !important;
    top: 20px;
    z-index: 1000;
    background-color: rgba($color: #000000, $alpha: 0.1);
    backdrop-filter: blur(3px);
    padding: 5px 0 !important;
    width: 80%;
    margin: auto;
    border-radius: 100px;

    .btn {
        margin-right: 2px;
        border-radius: 90px !important;
    }


    .navbar-brand {
        img {
            height: 50px;
        }
    }

    .menu-icon {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;

        &.active {
            span {
                &:first-child {
                    transform: translate(0px, 7px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: scale(0);
                }

                &:last-child {
                    transform: translate(0px, -10px) rotate(-45deg);
                }
            }
        }

        span {
            width: 100%;
            height: 3px;
            background-color: #3079da;
            border-radius: 100px;
            transition: 0.3s ease;
        }
    }
}

.nav-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 130px;
    padding-bottom: 100px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(8px);
    z-index: 900;

    &.active {
        display: flex !important;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .navlinks {
        flex-direction: column;
    }

    .socials {
        margin-bottom: 0;
        width: 90%;
        justify-content: center;
        gap: 20px;
    }

    .btn {
        width: fit-content;
    }
}

.navlinks {
    display: flex;
    gap: 50px;

    a {
        color: white;
        text-decoration: none;;
        opacity: 0.6;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 1;
        }
    }
}

.fadeIn {
    animation: fadeIn 1s linear;
}

.fadeOut {
    animation: fadeOut 1s linear;
}

@keyframes fadeIn {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}

@media (max-width: 430px) {
    nav .container {
        padding: 0 30px;
    }

    .menu-icon {
        display: flex !important;
    }

    nav .navlinks,
    nav .btn {
        display: none !important;
    }
}