nav {
    margin-top: 20px;
    position: sticky !important;
    top: 0;
    z-index: 1000;
    background-color: rgba($color: #000000, $alpha: 0.2);
    backdrop-filter: blur(15px);

    .navbar-brand {
        img {
            height: 50px;
        }
    }

    .navlinks {
        display: flex;
        gap: 50px;

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            opacity: 0.6;
            transition: 0.3s ease;

            &:hover {
                opacity: 1;
            }
        }
    }
}